.navigation
{
	margin-bottom: 30px;
	margin-top: 20px;
	&__in
	{
		display: flex;
		justify-content: flex-end;
    	align-items: center;
		height: 50px;
		&__href
		{
			color: #ff8d3f;
			font-family: "PT Sans";
			font-size: 18px;
			font-weight: 700;
			line-height: 24px;
			text-decoration: underline;
			
		}
	}
}
.--Right
{
	float: right;
}