.review
{
	
	position: relative;
}
	.review__image
	{
		position: absolute;
	}
	.review__image__images
		{
			width: 100%;
		}
	.review__row
	{
		margin-top: 20px;
		margin-left: 20px;
		
	}
	.review__row__Left__header
			{
				color: #4d636c;
				font-family: "PT Sans";
				font-size: 20px;
				font-weight: 700;
				line-height: 32px;
				text-transform: uppercase;
			}
	.review__row__Left__line
			{
				border: 1px solid #ff8d3f;
				width: 40%;
				float: left;
			}
	.review__row__Right
		{
			margin-top: 90px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
		}
	.review__row__Right__block
			{
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
    			-webkit-box-orient: vertical;
    			-webkit-box-direction: normal;
    			    -ms-flex-direction: column;
    			        flex-direction: column;
    			-webkit-box-align: center;
    			    -ms-flex-align: center;
    			        align-items: center;
    			-webkit-box-pack: center;
    			    -ms-flex-pack: center;
    			        justify-content: center;
				margin-right: 30px;
				width: 458px;
				height: 386px;
				background: White;
			}
	.review__row__Right__block__header
				{	
					margin-left: -200px;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
				}
	.review__row__Right__block__header__text
					{
						margin-left: 15px;
					color: #ff8d3f;
					font-weight: 700;
					font-family: "PT Sans";
					font-size: 18px;
					
					line-height: 28px;
					}
	.review__row__Right__block__text
				{
					margin-top: 30px;
					padding:0 auto;
					width: 309px;
					height: 265px;
					color: #000000;
					font-family: "PT Sans";
					font-size: 18px;
					font-weight: 400;
					line-height: 28px;
					font-weight: 400;
				}